[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs = "~=1.0"
mkdocs-material = "~=4.6"
markdown-include = "*"
mkdocs-awesome-pages-plugin = "*"

[requires]
python_version = "3.7"

[dev-packages]
